body{
    background: skyblue;
    font-family: Arial;
    height: 100%;
}

.wrapper{
    width: 800px;
    margin:30px auto;
    color: #fff;
    text-align: center;
}

h1,h2,h3{
    font-size: 2.6rem;
    font-weight:100;
    text-transform: uppercase;
}

#seconds, #tens {
    font-size: 2rem;
}

button {
    border-radius: 10px;
    background: blue;
    color: #fff;
    border: 1px solid #000;
    text-decoration: none;
    cursor: pointer;
    font-size:1.2rem;
    padding: 18px 30px;
    width: 180;
    margin: 10px;
    outline: none;
}

button:hover{
    transition: .3s;
    background: #fff;
    border: 1px solid #fff;
    color: blue;
}

